{% extends "node.html.twig" %}

{% block content %}
  <div class="c-beer l-grid l-grid--sidebar-left u-vr__my--2">
    <div class="c-beer__photo l-grid__sidebar">
      {{ content.field_preview_image }}
    </div>
    <div class="c-beer__info l-gri__main">
      <div class="c-beer__title u-fw__bold">
        <h1>{{ label }}</h1>
      </div>

      <div class="c-beer__style">
        <h4>{{content.field_style}}</h4>
      </div>

      <div class="c-beer__description u-vr__mb--1">
        {{ content.body }}
      </div>

      <div class="c-beer__details">
        <h3>CHARACTERISTICS</h3>
        {% if content.field_aroma|render %}
        <div class="c-beer__prop">
          <div class="c-beer__prop-label">AROMA:</div>
          <div>{{content.field_aroma}}</div>
        </div>
        {% endif %}
        {% if content.field_taste|render %}
        <div class="c-beer__prop">
          <div class="c-beer__prop-label">TASTE:</div>
          <div>{{content.field_taste}}</div>
        </div>
        {% endif %}
        {% if content.field_abv|render %}
        <div class="c-beer__prop">
          <div class="c-beer__prop-label">ALC/VOL:</div>
          <div>{{content.field_abv.0['#markup']}}%</div>
        </div>
        {% endif %}
        {% if content.field_ibu|render %}
        <div class="c-beer__prop">
          <div class="c-beer__prop-label">IBU</div>
          <div>{{content.field_ibu.0['#markup']}}</div>
        </div>
        {% endif %}
        {% if content.field_malts|render %}
        <div class="c-beer__prop">
          <div class="c-beer__prop-label">MALTS:</div>
          <div>{{content.field_malts}}</div>
        </div>
        {% endif %}
        {% if content.field_hops|render %}
        <div class="c-beer__prop">
          <div class="c-beer__prop-label">HOPS:</div>
          <div>{{content.field_hops}}</div>
        </div>
        {% endif %}
        {% if content.field_availability|render %}
          <div class="c-beer__prop c-beer__prop--availability">
            <div class="c-beer__prop-label">AVAILABILITY</div>
            <div>{{content.field_availability}}</div>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
