{%
  set classes = [
    'c-teaser',
    'c-' ~ node.bundle|clean_class ~ '-' ~ view_mode|clean_class,
    'small-12 medium-12 large-12'
  ]
%}

<div{{attributes.addClass(classes)}} data-aos="fade-up">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="c-slushee-teaser__title h3">
    {{ label.0['#context'].value }}
  </div>

  <div class="c-slushee-teaser__price h3">
    {{ content.field_price }}
  </div>
  <div class="c-slushee-teaser__ingredients">
    {{ content.field_ingredients }}
  </div>
</div>



