{%
  set classes = [
    'c-teaser',
    'c-' ~ node.bundle|clean_class ~ '-' ~ view_mode|clean_class,
    'small-12 medium-6 large-6'
  ]
%}

<article{{attributes.addClass(classes)}} data-aos="fade-up">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="c-cocktail-teaser__image">
    {{ content.field_preview_image }}
  </div>

  <div class="c-cocktail-teaser__title h3">
    {{ label.0['#context'].value }}
  </div>

  <div class="c-cocktail-teaser__price h3">
    {{ content.field_price }}
  </div>
  <div class="c-cocktail-teaser__ingredients">
    {{ content.field_ingredients }}
  </div>
</article>



