{% set background_class = 't-background--' ~ settings.background_color %}

{% if content %}

  {% if background_class %}
    <div class="row large-unstack {{ background_class }}">
  {% endif %}
      {% if content.first %}
        <div {{ region_attributes.first.addClass('columns columns-2--left') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('columns columns-2--right') }}>
          {{ content.second }}
        </div>
      {% endif %}
	{% if background_class %}
    </div>
  {% endif %}
{% endif %}
