
{% set background_class = 't-background--' ~ settings.background_color %}
{% if content %}

  {% if background_class %}
    <div class="row medium-unstack">
  {% endif %}
      <div {{ region_attributes.first.addClass('columns columns-3--left') }}>
        {{ content.first }}
      </div>
      <div {{ region_attributes.second.addClass('columns columns-3--middle') }}>
        {{ content.second }}
      </div>
      <div {{ region_attributes.third.addClass('columns columns-3--right') }}>
        {{ content.third }}
      </div
	{% if background_class %}
    </div>
  {% endif %}
{% endif %}
