{#
/**
 * @file
 *
 * Default product template for discs.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'c-product',
  ]
%}

<article{{attributes.addClass(classes)}}>
  <div class="l-container">
    <div class="l-grid l-grid--sidebar-right u-vr__mt--2 u-vr__mb--2">

      <div class="l-grid__main l-main">
        <div class="c-product__image u-vr__mb--1">
          {% if product.variation_field_product_image.0|render %}
            {{ product.variation_field_product_image }}
          {% else %}
            <div class="c-field-media-image">
              <img src="/{{ base_path ~ directory }}/logo.svg" alt="{{ 'Home'|t }}" style="width: 300px;"/>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="l-grid__sidebar l-sidebar">
        <div class="c-product__title u-vr__mb--1">
          <h1 class="u-color__blue">{{ product.title }}</h1>
        </div>
      </div>
    </div>

  </div>
</article>
