{#
/**
 * @file
 *
 * Default product template for discs.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'c-product',
    'c-product--teaser',
  ]
%}

<a href="{{ product_url }}">
  <article{{attributes.addClass(classes)}}>
    <div class="u-text-center">

        <div class="c-product__image">
          {% if product.variation_field_product_image.0|render %}
            {{ product.variation_field_product_image }}
          {% else %}
            <div class="c-field-media-image">
              <img src="/{{ base_path ~ directory }}/logo.svg" alt="{{ 'Home'|t }}" style="width: 300px; background-color: black;"/>
            </div>
          {% endif %}
        </div>

        <div class="c-product__title">
          <div class="u-color__blue h2">{{ product.title }}</div>
          <div class="u-color__blue-gray">{{ product.field_brand }}</div>
        </div>

      {% if product.field_speed|render %}
        <div class="c-product__flight-numbers">
          <ul class="o-list-inline">
            <li class="c-product__speed--small o-list-inline__item" title="Speed">{{ product.field_speed }}</li>
            <li class="c-product__glide--small o-list-inline__item" title="Glide">{{ product.field_glide }}</li>
            <li class="c-product__turn--small o-list-inline__item" title="Turn">{{ product.field_turn }}</li>
            <li class="c-product__fade--small o-list-inline__item" title="Fade">{{ product.field_fade }}</li>
          </ul>
        </div>
      {% endif %}

    </div>
  </article>
</a>
