
{% if content %}

  {% if background_class %}
    <div class="row medium-unstack">
  {% endif %}

    <div {{ region_attributes.first.addClass('columns columns-4--left') }}>
      {{ content.first }}
    </div>
    <div {{ region_attributes.second.addClass('columns columns-4--middle-left') }}>
      {{ content.second }}
    </div>
    <div {{ region_attributes.third.addClass('columns columns-4--middle-right') }}>
      {{ content.third }}
    </div>
    <div {{ region_attributes.fourth.addClass('columns columns-4--right') }}>
      {{ content.fourth }}
    </div>

	{% if background_class %}
    </div>
  {% endif %}
{% endif %}
