{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'row',
    'c-view-' ~ id|clean_class,
    'c-view-' ~ id|clean_class ~ '--' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}

  <div class="l-section l-section--align-center l-section--100 u-vr__pt--2 u-vr__pb--1 columns small-12 t-background--black">
    <div class="l-section__content">
        <h1 class="c-block__title h1">BOTTLES</h1>
    </div>
  </div>
  <div class="l-section l-section--align-center l-section--100 u-vr__pt--2 u-vr__pb--1 columns small-12 t-background--black">
    {% if rows %}
        <div{{create_attribute().addClass(classes)}}>
            {{ rows }}
        </div>
    {% elseif empty %}
        <div class="view-empty">
        {{ empty }}
        </div>
    {% endif %}

    {% if footer %}
        <div class="view-footer">
        {{ footer }}
        </div>
    {% endif %}

    {% if pager %}
        {{ pager }}
    {% endif %}
  </div>
  



