{%
  set classes = [
    'c-banner-hero',
    'u-vr__mx--2',
    content.field_link.0 ? 'c-banner-hero--linked'
  ]
%}

{% if content.field_link.0 %}
<a href="{{ content.field_link.0['#url'] }}">
{% endif %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {{ content.field_background_image }}
  </div>
{% if content.field_link.0 %}
  </a>
{% endif %}


