{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set background_class = 't-background--' ~ settings.background_color %}
{% if content %}
  {% if background_class %}
    <div class="{{ background_class }}">
  {% endif %}
    {% if settings.hero %}
    {# If the hero mode is enabled remove container. #}
      <div{{ attributes }}>
        {{ content.first }}
      </div>
    {% else %}
      <div{{ attributes.addClass('row') }}>
        {{ content.first }}
      </div>
    {% endif %}
  {% if background_class %}
    </div>
  {% endif %}
{% endif %}
